:root{
    --azul-dnc: #0c70f2;
    --preto-dnc: #303030;
    --cinza-hover: #c9c9c9;

    --fonte-padrão: inter;
}
body{
    width: 100%;
}
#topmenu{
    background: var(--preto-dnc);
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #BABABA
}
    #topmenu a:hover{
        color: #CCCCCC;
    }
.link{
    font-family: var(--fonte-padrão);
    color: #FFFFFF;
    font-size: 25px;
    font-weight: 600;
    line-height: 30.26px;
    text-align: left;
    text-decoration: none;
}
#links{
    display: flex;
    width: 45%;
    justify-content: space-around;
    margin-left: 5%;
}
#login{
    width: 80px;
    height: 39px;
    background: var(--azul-dnc);
    box-shadow: 3px 2px 4px 0px #0C70F240;
    margin-right: 5%;
    border: 0px;
    font-family: var(--fonte-padrão);
    font-size: 20px;
    font-weight: 500;
    line-height: 24.2px;
    color: #FFFFFF;
    cursor: pointer;
}
body{
    margin: 0px;
    padding: 0px;
    background: linear-gradient(180deg, rgba(12, 112, 242, 0.5) 19.91%, rgba(12, 112, 242, 0) 24.84%), #303030;
}
#middleform{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 300px;
}
    header{
        color: white;
        font-family: var(--fonte-padrão);
        text-align: center;
    }
    header h1{
        font-size: 80px;
        font-weight: 800;

        margin-bottom: 20px;
    }
    header h2{
        font-family: var(--fonte-padrão);
        font-size: 40px;
        font-weight: 400;
        margin-bottom: 100px;
    }
    header .whitespace{
        background-color: black;
        font-weight: bold;
        padding: 5px;
    }
    form{
        color: white;
        font-family: var(--fonte-padrão);
        font-size: 30px;
    }
    .formgroup{
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .formgroup input{
    border-radius: 10px;
    width: 100%;
    height: 50px;
    font-size: 20px;
    font-weight: 400;
    line-height: 24.2px;
    border: 0px;
    padding-left: 10px;
    background: rgba(255, 255, 255, 0.9);
    }
    .formgroup input::placeholder{
        color: rgba(57, 57, 57, 0.5);
    }
    .formgroup label{
        margin: 10px 0px 10px 0px;
    }
    .Checkbox-Itens{
        display: flex;
        justify-content: space-around;
    }
    .Checkbox-Itens label{
        font-family: var(--fonte-padrão);
        font-size: 25px;
    }
    input[type=checkbox]{
        width: 20px;
        height: 22px;
    }
    input[type=submit]{
        background-color:rgba(12, 112, 242, 0.9);
        border: 0px;
        box-shadow: 0px 6px 4px 0px rgba(12, 112, 242, 0.25);
        border-radius: 10px;
        width: 100%;
        height: 56px;
        font-size: 32px;
        font-family: var(--fonte-padrão);
        font-weight: 600;
        line-height: 38.73px;
        color: rgba(255, 255, 255, 1);
        cursor: pointer;
        margin-top: 100px;
    }
    footer{
        width: 100%;
        background-color: var(--azul-dnc);
    }
    footer .linha1{
        color: rgba(255, 255, 255, 0.9);
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    footer nav{
        display: flex;
        flex-direction: column;
        align-items: center;
        
        height: 380px;
    }
    footer h5{
        font-family: var(--fonte-padrão);
        font-size: 25px;
        font-weight: 800;
        line-height: 30.26px;
        background-color: var(--preto-dnc);
        border-radius: 10px;
        padding: 10px 10px 10px 10px;
        margin-bottom: 15px;
    }
    footer ul{
        font-family: var(--fonte-padrão);
        list-style-type: none;
        margin: 0px;
        padding: 0px;
        font-size: 25px;
        font-weight: 600;
        line-height: 30.26px;
    }
    footer ul li{
        margin: 20px 0px 20px 0px;
        text-align: center;
    }
    footer div nav ul li a{
        text-decoration: none;
        color: rgba(255, 255, 255, 0.9);
    }
    footer a:hover{
        color: var(--cinza-hover);
    }
    .endereço{
        font-family: var(--fonte-padrão);
        font-size: 20px;
        font-weight: 800;
        line-height: 24.2px;
        text-align: center;
    }
    footer .linha2 nav{
        height: 35px;
        display: flex;
        justify-content: center;
        margin: 0px;
        padding: 10px;

    }
    footer .linha2 a:first-child{
        border-right: 3px solid white;
    }
    footer .linha2 a{
        font-family: var(--fonte-padrão);
        font-size: 25px;
        font-weight: 600;
        color: rgba(255, 255, 255, 0.9);
        text-decoration: none;
        padding: 10px;
    }
    footer .linha2 a:hover{
        col
        or: var(--cinza-hover);
    }
@media (max-width: 600px) {
    #topmenu{
        flex-direction: column;
        height: auto;
        padding-top: 20px;
    }
    #topmenu #links{
        flex-direction: column;
        margin: 0px;
        width: 100%;
        align-items: center;
    }
    #topmenu #links .link{
        display: flex;
        height: 50px;
    }
    #topmenu #login{
        width: 100%;
        margin: 0px;
    }
    #middleform{
        margin-top: 20px;
        margin-bottom: 100px;
    }
    header h1{
        font-size: 40px;
        margin-bottom: 20px;
    }
    header h2{
        font-size: 20px;
        margin-bottom: 20px;
        padding-right: 5px;
        padding-left: 5px   ;
    }
    form{
       width: 95%;
       font-size: 20px;
    }
    .Checkbox-Itens label{
        font-size: 15px;
    }
    footer .linha1{
       flex-direction: column;
    }
    .endereço{
        width: 95%;
        font-size: 12px;
        margin-bottom: 10px;
    }
    footer .linha2 a{
        font-size: 10px;
        align-items: center;
    }
}